# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
myenv/
env/
ENV/
.venv

# Django
*.log
*.pot
*.pyc
*.old
*.bak
*.puppet-bak
*.jar
local_settings.py
*.sqlite3
db.sqlite3-journal
media/
staticfiles/


# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.~lock*

# Nextflow
.nextflow/
.nextflow.log*
work/
results/
media/test/

# Project specific
project/static_root/
*.xlsx
*.xml
\!staticfiles/xml/*.xml
\!project/staticfiles/xml/*.xml
\!project/static/xml/*.xml
nextflow
checkm_mem_increase.nf
settings_LOCAL.py
EOF < /dev/null
