**/*.pyc
**/*.bak
**/.env
**/*.old
**/__pycache__
myenv/
project/.nextflow
project/app/migrations
project/staticfiles/
project/media/test/
**/debug.log
**/db.sqlite3
output.xlsx
sample_*.xml
project_*.xml
submission_*.xml
read_*.xml
template_*.xml
*.report
read_manifest*
webin-cli-8.1.0.jar
project/media/*.gz
project/media/*.fastq
