###################
# Copy to .env in root of Git repo
###################

DEBUG = False
ALLOWED_HOSTS = ['broker-demo.bifo.helmholtz-hzi.de', 'dzif-student-0201', '192.168.8.6']
DEBUG = False
FIELD_ENCRYPTION_KEY = ''
ENA_USERNAME = ''
ENA_USER = ''
ENA_PASSWORD = ''
CHECKM_REFDATA_DIR = '/net/broker/checkm_refdata'
MAG_VERSION  = '3.4.0'
MAG_CLUSTER_CORES  = '4'
MAG_CLUSTER_MEMORY  = '64GB'
MAG_CLUSTER_QUEUE  = 'cpu'
MAG_CLUSTER_TIME_LIMIT  = '12'
CSRF_TRUSTED_ORIGINS = ["https://broker-demo.bifo.helmholtz-hzi.de"]
USE_SLURM_FOR_SUBMG = True
CONDA_PATH = '{BASE_DIR}/../../miniconda3'
MAG_NEXTFLOW_STUB_MODE = True
AUTO_CREATE_USERS_AS_ADMIN = True
