<h2>Order Form</h2>
<form method="post">
    {% csrf_token %}
    {{ order_form.as_p }}
    <h3>Add Samples</h3>
    <table>
        <thead>
            <tr>
                <th>Sample Name</th>
                <th>Concentration</th>
                <th>Vol.</th>
                <th>260/280 Ratio</th>
                <th>A260/230</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            {% for sample in samples %}
            <tr>
                <td>{{ sample.sample_name }}</td>
                <td>{{ sample.concentration }}</td>
                <td>{{ sample.volume }}</td>
                <td>{{ sample.ratio_260_280 }}</td>
                <td>{{ sample.ratio_260_230 }}</td>
                <td>{{ sample.comments }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4>Add New Sample</h4>
    {{ sample_form.as_p }}
    <button type="submit">Update</button>
</form>
<a href="{% url 'logout' %}">Logout</a>