{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h2 class="title">Registration</h2>
                <form method="post" class="box">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control">
                            {{ form.username|add_class:"input" }}
                        </div>
                    </div>
                   
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            {{ form.password1|add_class:"input" }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Confirm Password</label>
                        <div class="control">
                            {{ form.password2|add_class:"input" }}
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-primary">Register</button>
                        </div>
                        <div class="control">
                            <a href="{% url 'login' %}" class="button is-light">Back to Login</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}