{% extends 'base.html' %}

{% block title %}
Order Form
{% endblock title %}

{% block content %}
<section class="section">
  <div class="container">
    <h2 class="title has-text-centered">Order Form</h2>
    <form method="post" class="box">
      {% csrf_token %}
      <div class="columns">
        <div class="column is-two-thirds">
          {% for field in form %}
          <div class="field">
            <label class="label">{{ field.label }}</label>
            <div class="control">
              {{ field }}{{ field.help_text }}
            </div>
          </div>
          {% endfor %}
        </div>
        
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-primary">Save</button>
        </div>
        <div class="control">
          <a href="{% url 'order_list' project_id %}" class="button is-link is-light">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}