{% extends 'base.html' %}

{% block title %}
Order List
{% endblock title %}

{% block content %}
<section class="section">
  <div class="container">
    <h2 class="title has-text-centered">Order List</h2>
    <p class="has-text-centered">
      Each order is associated with one or more samples. The MIxS standard for each sample can be defined in the "Metadata" column. The corresponding MIxS standard questionnaire fields will appear in the "Samples" column.
    </p>
    {% if orders %}
      <div class="table-container">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Order Actions</th>
              <th>Metadata</th>
              <th>Samples</th>
              <th>Analysis Samples</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
              <tr>
                <td>{{ order.id }}</td>
                <td>
                  <div class="buttons">
                    <a href="{% url 'order_edit' project_id=project_id order_id=order.id %}" class="button is-small is-info">Edit</a>
                    <a class="button is-small is-danger" onclick="deleteOrder('{% url 'delete_order' project_id=project_id order_id=order.id %}')">Delete</a>
                  </div>
                </td>
                <td>
                {% if order.show_metadata %}
                  <a href="{% url 'metadata_view' project_id=project_id order_id=order.id %}" class="button is-small is-primary">Checklists</a>
                {% else %}
                  <a class="button is-small is-light" title="Disabled - delete all samples to allow change of checklist">Checklists</a>
                {% endif %} 
                </td>
                <td>
                {% if order.show_samples %}
                  <a href="{% url 'samples_view' project_id=project_id order_id=order.id sample_type=1%}" class="button is-small is-primary">Edit Samples</a>
                {% else %}
                  <a class="button is-small is-light" title="Disabled - no checklists selected">Edit Samples</a>  
                {% endif %}
                </td>
                <td>
                  {% if order.show_assembly %}
                  <a href="{% url 'samples_view' project_id=project_id order_id=order.id sample_type=2%}" class="button is-small is-primary">Edit Assembly Samples</a>
                  {% else %}
                  <a class="button is-small is-light" title="Disabled - no assemblies (or samples) present">Edit Assembly Samples</a>
                  {% endif %}
                  {% if order.show_bin %}
                  <a href="{% url 'samples_view' project_id=project_id order_id=order.id sample_type=3%}" class="button is-small is-primary">Edit Binning Samples</a>
                  <a href="{% url 'samples_view' project_id=project_id order_id=order.id sample_type=4%}" class="button is-small is-primary">Edit MAG Samples</a>
                  {% else %}
                  <a class="button is-small is-light" title="Disabled - no bins (or samples) present">Edit Binning Samples</a>
                  <a class="button is-small is-light" title="Disabled - no bins (or samples) present">Edit MAG Samples</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p class="has-text-centered">No orders found.</p>
    {% endif %}

    <div class="has-text-centered mt-4">
        <a href="{% url 'order_create' project_id %}" class="button is-primary">Request new order</a>
        <a href="{% url 'project_list' %}" class="button is-link is-light">Back to projects</a>
  </div>

</section>

<script>
function deleteOrder(url, orderId) {
      if (confirm('Are you sure you want to delete this order, and all related objects (samples, sequences, analyses)?')) {
        window.location.href = url;
      }
  }

</script>
{% endblock content %}