{% extends 'base.html' %}

{% block title %}
Project Form
{% endblock title %}

{% block content %}

<form method="post">
    {% csrf_token %}
    {{ project_form.as_p }}
    <h3>Add Samples</h3>
    <table>
        <thead>
            <tr>
                <th>Sample Name</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.order_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4>Add New Order</h4>
    {{ order_form.as_p }}
    <button type="submit">Update</button>
</form>
<a href="{% url 'logout' %}">Logout</a>
{% endblock content %}