{% extends 'base.html' %}

{% block title %}
Add and update Samples
{% endblock title %}

{% block content %}
<section class="section">
  <div class="container">
    <h2 class="title has-text-centered">Update Samples</h2>

    <div class="has-text-centered mb-4">
      <button id="add" class="button is-primary" onclick="addNewRow()">Add New Row</button>
    </div>

    <div id="handsontable-container"></div>

    <div class="has-text-centered mt-4">
      <button id="save" class="button is-success" onclick="saveSampleData()">Save Samples</button>
      <button id="cancel" class="button is-link" onclick="redirectToOrders()">Back to Order Overview</button>
    </div>

  </div>
</section>

<!--
Comment out for 6.2.2 (MIT)
-->
<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">

<script>
  var unsaved = false;
  document.getElementById('save').disabled = true;

  var hotElement = document.querySelector('#handsontable-container');
  var hotSettings = {
    data: {{ samples_data | safe }},
    columns: {{ samples_headers | safe }},
    hiddenColumns: {
      columns: [],
      indicators: false  // Show a small indicator where columns are hidden
    },
    minSpareRows: 0,
    rowHeaders: true,
    contextMenu: true,
    width: '100%',
    height: 'auto',
    stretchH: 'all', // Optionally stretch the columns to fit the width
    licenseKey: 'non-commercial-and-evaluation',
    afterChange: (changes) => {
      changes?.forEach(([row, prop, oldValue, newValue]) => {
      if (prop != "unsaved" && hot.getDataAtCell(row, 1) != "x") {
                  hot.setDataAtCell(row, 1, "x");
                  unsaved = true;
                  document.getElementById('save').disabled = false;
      }
      });
    }
  };
  var hot = new Handsontable(hotElement, hotSettings);

  function addNewRow() {
    var newRow = ['', '']; // Adjust based on number of columns

    var selectedRow = hot.getSelected();
    if (selectedRow && selectedRow.length > 0) {
      var rowIndex = selectedRow[0][0];
    } else {
      var rowIndex = hot.countRows();
    }
    hot.alter('insert_row_above', rowIndex, 1, newRow);
    hot.setDataAtCell(rowIndex, 1, "x");
    unsaved = true;
    document.getElementById('save').disabled = false;
  }

  function saveSampleData() {
    var sampleData = hot.getData().map(function (row, index) {
      return {
        {{ sample_headers_array | safe }}
      };
    });

    unsaved = false;
    document.getElementById('save').disabled = true;

    hot.batch(() => {
      for (let rowIndex = 0; rowIndex < hot.countRows(); rowIndex++) {
        hot.setDataAtCell(rowIndex, 1, "");
      }
    });

    console.log('Sending sample data:', sampleData);

    fetch("{% url 'samples_view' project_id=project_id order_id=order.id %}", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
        'X-CSRFToken': '{{ csrf_token }}'
      },
      body: 'sample_data=' + JSON.stringify(sampleData)
    })
    .then(function (response) {
      console.log('Sample data saved successfully');
    })
    .catch(function (error) {
      console.error('Error saving sample data:', error);
    });
  }

  function redirectToOrders() {
    if (unsaved) {
      if (confirm('You have unsaved changes. Are you sure you want to leave this page?')) {
        window.location.href = "{% url 'order_list' project_id=project_id %}";
      }
    } else {
      window.location.href = "{% url 'order_list' project_id=project_id %}";
    }
  }

  function deleteButtonRenderer(instance, td, row, col, prop, value, cellProperties) {
    Handsontable.renderers.TextRenderer.apply(this, arguments);
    td.innerHTML = '';
    var button = document.createElement('button');
    button.innerHTML = 'Delete';
    button.addEventListener('click', function () {
      instance.alter('remove_row', row); // Delete the row on button click
      unsaved = true;
      document.getElementById('save').disabled = false;
    });
    td.appendChild(button);

    return td;
  }

  // Utility function to generate a unique ID
  function generateUniqueId() {
    return 'id-' + Math.random().toString(36).substr(2, 16);
  }

  // Hook to handle new rows, adding a unique ID to each
  hot.addHook('afterCreateRow', function(index, amount) {
    for (let i = 0; i < amount; i++) {
      let row = index + i;
      // Ensure each new row gets a unique ID
      hot.setDataAtRowProp(row, 'sample_id', generateUniqueId());
    }
  }); 

</script>

{% endblock content %}