{% extends 'base.html' %}

{% block title %}
Add and update Samples
{% endblock title %}

{% block content %}
<section class="section">
    <div class="container">
      <h2 class="title has-text-centered">Update Samples</h2>
      <div class="has-text-centered mb-4">
        <button class="button is-primary" onclick="addNewRow()">Add New Row</button>
      </div>

      <div id="handsontable-container"></div>

      <div class="has-text-centered mt-4">
        <button class="button is-success" onclick="saveSampleData()">Save Samples</button>
        <a href="{% url 'order_list' %}" class="button is-link">Back to Order Overview</a>
      </div>
    </div>
  </section>
  

<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">

<script>
var hotElement = document.querySelector('#handsontable-container');
var hotSettings = {
  data: {{ samples|safe }},
  columns: [
    { title: 'Sample ID', data: 'index', readOnly: true },
    { title: 'MIxS Metadata Standard', data: 'mixs_metadata_standard', type: 'dropdown', source: {{ mixs_metadata_standards|safe }} },
    { title: 'Concentration', data: 'concentration' },
    { title: 'Volume', data: 'volume' },
    { title: 'Ratio 260/280', data: 'ratio_260_280' },
    { title: 'Ratio 260/230', data: 'ratio_260_230' },
    { title: 'Comments', data: 'comments' },
    { title: 'Status', data: 'status', readOnly: true}


  ],
  minSpareRows: 1,
  rowHeaders: true,
  contextMenu: true,
  licenseKey: 'non-commercial-and-evaluation',
};
var hot = new Handsontable(hotElement, hotSettings);

function addNewRow() {
  var newRow = ['', '']; // Adjust based on number of columns
  
  var selectedRow = hot.getSelected();
  if (selectedRow && selectedRow.length > 0) {
    var rowIndex = selectedRow[0][0];
    hot.alter('insert_row_above', rowIndex, 1, newRow);
  } else {
    hot.alter('insert_row_above', hot.countRows(), 1, newRow);
  }
}

function saveSampleData() {
    var sampleData = hot.getData().map(function(row, index) {
        return {
            index: row[0],
            sample_name: row[0],
            mixs_metadata_standard: row[1], // Get the selected MIxS Metadata Standard
            concentration: row[2],
            volume: row[3],
            ratio_260_280: row[4],
            ratio_260_230: row[5],
            comments: row[6],
            status: row[7] 
        };
    }).filter(function(sample) {
        return sample.concentration !== null && sample.concentration !== undefined;
    });

    sampleData = sampleData.map(function(sample) {
        return {
            index: sample.index,
            sample_id: sample.sample_id,
            mixs_metadata_standard: sample.mixs_metadata_standard,
            concentration: sample.concentration.trim(),
            volume: sample.volume.trim(),
            ratio_260_280: sample.ratio_260_280.trim(),
            ratio_260_230: sample.ratio_260_230.trim(),
            comments: sample.comments.trim(),
            status: sample.status,
        };
    });

    console.log('Sending sample data:', sampleData);

    fetch("{% url 'samples_view' order.id %}", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: 'sample_data=' + JSON.stringify(sampleData)
    })
    .then(function(response) {
        console.log('Sample data saved successfully');
    })
    .catch(function(error) {
        console.error('Error saving sample data:', error);
    });
}
</script>

{% endblock content %}